$green-success: #23a946;
$blue-link: #4D96FF;
$danger: #ff4d4f;
$warning: #f7ca01;
$navy-dark: #020e1b;
$white: #fff;
$black: #000;
$grey: rgb(180, 180, 180);
$grey-light1: #f1f1f1;
$grey-light2: #e6e3e3;
$grey-dark: #495464;